image{
	/*border-radius: 300px;*/
	 float: right;
  margin-right: 15px;
}

.contenido{
	background-size: cover;
   
}
footer {
    text-align: center;
    border-top: 5px solid blue;
    background-color: gray;
    padding: 10px;
}

@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }